# Temporary fork of llama-cpp-python to fix the llama.cpp download
# llama-cpp-python
git+https://github.com/abetlen/llama-cpp-python.git


# OpenaI for Chat Completion API
openai

# Database
psycopg2-binary

# Vector database
numpy
sentence-transformers

# Environment variables
python-dotenv

# Rust crate dependencies
nostr-sdk
nostr-protocol